:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: var(--dark-grayish-blue);
  background-color: var(--very-light-grayish-blue);
  background-image: url(./img/bg-top.svg), url(./img/bg-bottom.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.attribution {
  padding: 2em 1em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
