// TEXT
.text-center {
  text-align: center;
}

.text-light-grayish-blue {
  color: var(--light-grayish-blue);
}

.text-sm {
  font-size: 0.875rem;
}

// FLEX
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

// DISPLAY
.hidden {
  display: none;
}
